{% extends "base.html" %}

{% block content %}

<div class="main_content">
    <div id="system_info" class='container'>
      <p><span class='title'>System Information</span></p>
      <p class="hostname"><b>{{ hostname }}</b></p>
      <p><b>Uptime:</b> {{ uptime }}</p>
      <p><b>Version:</b> {{ version }}</p>
      <p><b>Kernel:</b> {{ kernel_version }}</p>
    </div>

    <div id="cpu_info" class='container'>
      <p><span class='title'>CPU Information</span></p>
      <p><b>CPU:</b> {{ cpu_name }}</p>
      <p><b>Active Processes:</b> {{ active_processes }}</p>
      <p><b>CPU Utilization:</b> {{ cpu_utilization }}</p>
      <p><b>CPU Temperature:</b> {{ cpu_temperature }}</p>
    </div>

    <div id="memory_info" class='container'>
      <p><span class='title'>Memory Information</span></p>
      <p><b>Total Memory:</b> {{ total_memory }}GB</p>
      <p><b>Memory In Use:</b> {{ used_memory }}GB</p>
      <p><b>Usage:</b> {{ memory_usage }}%</p>
    </div>

    <div id="disk_info" class="container">
      <p><span class='title'>Disk Usage</span></p>
      <p><b>Path:</b> {{ storage_path }}</p>
      <p><b>Total Storage:</b> {{ total_storage }}</p>
      <p><b>Storage in Use:</b> {{ used_disks }}</p>
      <p><b>Pools:</b> {{ disk_pools }}</p>
    </div>

    <div id="network_info" class="container">
      <p><span class='title'>Network Information</span></p>
      <p><b>Interface:</b> {{ network_interface }}</p>
      <p><b>Network Type:</b> {{ network_type }}</p>
      <p><b>IPv4:</b> {{ network_ipv4 }}</p>
      <p><b>Current Activity:</b> {{ current_acivity }}</p>
      <p><b>VLANS:</b> {{ active_vlans }}</p>
    </div>

    <div id="task_info" class="container">
      <p><span class='title'>Task Information</span></p>
      <p><b>Active Tasks:</b> {{ active_tasks }}</p>
      <p><a href="#">Start a new Task&nbsp;<i class="fa-solid fa-up-right-from-square"></i></a></p>
      <p><a href="#">Manage Active Tasks&nbsp;<i class="fa-solid fa-up-right-from-square"></i></a></p>
      <p><a href="#">Task Guides&nbsp;<i class="fa-solid fa-up-right-from-square"></i></a></p>
    </div>

    <div id="docker_info" class='container'>
        <p><span class='title'>Docker Information</span></p>
        <p><b>Dockers Live:</b> {{ active_dockers }}</p>
        <p><b>Dockers Offline:</b> {{ offline_dockers }}</p>
        <p><a href="#">Start New Docker&nbsp;<i class="fa-solid fa-up-right-from-square"></i></a></p>
        <p><a href="#">Manage Dockers&nbsp;<i class="fa-solid fa-up-right-from-square"></i></a></p>
    </div>

    <div id="vm_info" class='container'>
      <p><span class='title'>Virtual Machines</span></p>
      <p><b>Online VMs:</b> {{ online_vms }}</p>
      <p><b>Offline VMs:</b> {{ offline_vms }}</p>
      <p><a href="#">Start New VM&nbsp;<i class="fa-solid fa-up-right-from-square"></i></a></p>
      <p><a href="#">Manage VMs&nbsp;<i class="fa-solid fa-up-right-from-square"></i></a></p>
    </div>

    <div id="shell_access" class='container'>
      <p><span class='title'>Shell Access</span></p>
      <p><b>Forewarning!</b></p>
      <p>Accessing the Shell gives you full control of the system. You are responsible for knowing what each command you input means and does.</p>
      <p><a href="#" class="shell"><i class="fa-solid fa-terminal"></i>&nbsp;Click here to Access the Shell</a></p>
    </div>
  </div>

{% endblock %}